#map {
    height: 700px;
    width: 100%;
}
input,
label {
    display: block;
}
.info {
    padding: 10px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.ui-autocomplete-loading {
    background: white url("img/ajax-loader.gif") right center no-repeat;
    background-size: 16px 16px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.bar-chart {
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    width: 100%;
    /*    height:100%;*/
}
.transition {
/*    border: 5px solid rgba(0, 0, 0, 0);*/
    color: rgba(40, 0, 0, 1);
    -webkit-transition: color 4s linear;
    /* Saf3.2+, Chrome */
    -moz-transition: color 4s linear;
    /* FF3.7+ */
    -o-transition: color 4s linear;
    /* Opera 10.5 */
    transition: color 4s linear;
}
/*
.transition:hover {
    color: rgba(0, 3, 60, 1);
}
*/
@media(max-width:992px){

#map {
    height: 350px;
    width: 100%;
}
}